.time {
    margin: 0;
    font-weight: 700;
    font-size: 12rem;
}

.time__day {
    margin-left: -25px;
    font-size: 2.5rem;
    font-weight: 400;
}

.message {
    display: flex;
    margin-bottom: 0;
    font-size: 1.4rem;
    align-items: center;
    gap: 12px;
    letter-spacing: 0.2rem;
}

.message__icon--type_moon {
    content: url('../../../assets/icon-moon.svg');
} 

.message__icon--type_sun {
    content: url('../../../assets/icon-sun.svg');
}


.ubication {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

@media screen and (max-width: 767px) {
    .time {
        font-size: 6rem;
    }

    .time__day {
        font-size: 1.2rem
    }


    .message {
        font-size: 1rem;
    }
    
    .ubication {
        font-size: 0.9rem;
    }
}