.main-container {
    display: grid;
    box-sizing: border-box;
    height: 103vh;
    width: 100%;
    padding: 3% 10% 5%;
    grid-template: 1fr 1fr/ 70% 30%;
    position: fixed;
    transition: transform 0.8s ease-in-out;
}

.main-container--show_more {
    transform: translateY(-50vh);
}

.main-container::-webkit-scrollbar {
    display: none;
}

.bg-time {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.bg-time::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.bg-daytime {
    background: url('../assets/desktop/bg-image-daytime.jpg') center/cover no-repeat;
}

.bg-nighttime {
    background: url('../assets/desktop/bg-image-nighttime.jpg') center/cover no-repeat;
    ;
}


.datetime-component {
    grid-row: 2;
}


.button-more {
    width: 150px;
    height: 60px;
    grid-row: 2;
    align-self: end;
    justify-self: end;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    border-radius: 80px;
    color: #8a8a8a;
    background-color: #fff;
}

.button-more:hover {
    cursor: pointer;
}

.button-more__icon {
    height: 70%;
    content: url('../assets/icon-arrow-up.svg');
    transform: rotateZ(180deg);
    transition: transform 0.9s ease-in-out;
}

.button-more__icon--orientation_up {
    transform: rotateZ(0deg);
}


.time-zone {
    position: absolute;
    left: 0;
    right: 0;
    height: 45vh;
    bottom: -42vh;
}


@media screen and (max-width: 1200px) {

    .main-container {
        grid-template-columns: 100%;
    }    

    .bg-daytime {
        background: url('../assets/tablet/bg-image-daytime.jpg') center/cover no-repeat;
    }

    .bg-nighttime {
        background: url('../assets/tablet/bg-image-nighttime.jpg') center/cover no-repeat;
    }

    .datetime-component {
        align-self: center;
    }

    .button-more {
        grid-row: 3;
        justify-self: left;
    }
}


@media screen and (max-width: 767px) {

    .main-container--show_more {
        transform: translateY(-45vh);
    }

    .bg-daytime {
        background: url('../assets/mobile/bg-image-daytime.jpg') center/cover no-repeat;
    }

    .bg-nighttime {
        background: url('../assets/mobile/bg-image-nighttime.jpg') center/cover no-repeat;
    }

    .datetime-component {
        align-self: end;
        margin-bottom: 30px;
    }

    .button-more {
        width: 120px;
        height: 40px;
        margin: 20px;
        font-size: 0.85rem;
    }
}